<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ChatCAT - Chatrooms</title>
	<link rel="stylesheet" href="../css/chatroom.css">
</head>
<body>
	<div class="cr-container">
	<h1 class="cr-title">ChatCAT</h1>
	<div class="cr-userbox">
		<img src="../images/" class="userPic">
		<h3 class="username">Mainak Dhar | <a href="#">LogOut</a></h3>
	</div>
	<div class="cr-newroom">
		<input type="text" class="newRoom" autocomplete="off">
		<button id="create">Create Room</button>
	</div>
	<div class="cr-roomlist">
		<ul class="cr-roomlist">
			<a href="#"><li>Node JS</li></a>
			<a href="#"><li>Cloud Computing</li></a>
			<a href="#"><li>Mongo DB</li></a>	
		</ul>
	</div>
	</div>
</body>
</html>